In [1]:
import pandas as pd

In [7]:
Load2016 = pd.read_excel('/Users/rishireddy/Desktop/BFOR 516/Energy Project Raw Data/Power Load/native_Load_2016.xlsx')
Load2017 = pd.read_excel('/Users/rishireddy/Desktop/BFOR 516/Energy Project Raw Data/Power Load/native_Load_2017.xlsx')
Load2018 = pd.read_excel('/Users/rishireddy/Desktop/BFOR 516/Energy Project Raw Data/Power Load/native_Load_2018.xlsx')
Load2019 = pd.read_excel('/Users/rishireddy/Desktop/BFOR 516/Energy Project Raw Data/Power Load/native_Load_2019.xlsx')
Load2020 = pd.read_excel('/Users/rishireddy/Desktop/BFOR 516/Energy Project Raw Data/Power Load/native_Load_2020.xlsx')
Load2021 = pd.read_excel('/Users/rishireddy/Desktop/BFOR 516/Energy Project Raw Data/Power Load/native_Load_2021.xlsx')

Splitting the HourEnding column in two by space and creating two new columns (date and time)

In [8]:
Load2019.head()

#df = pd.DataFrame(Load2016)
#print (df['Hour_End'].dtypes)

,HourEnding,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,01/01/2019 01:00,9783.594839,1264.194059,3164.720629,827.759428,11697.766093,3066.891146,5993.974289,1282.542956,37081.443439
1,01/01/2019 02:00,9726.062326,1270.494294,3178.950849,830.256302,11787.936174,3140.383209,6029.773970,1295.132811,37258.989933
2,01/01/2019 03:00,9654.373521,1269.504203,3200.881160,831.505553,11861.628382,3137.721342,6043.348512,1301.225133,37300.187809
3,01/01/2019 04:00,9631.735303,1243.168422,3221.963116,839.689838,11989.105118,3105.497101,6086.408464,1305.976101,37423.543464
4,01/01/2019 05:00,9698.889228,1309.572865,3240.634870,848.672153,12219.106347,3078.256356,6180.939962,1319.140512,37895.212293

In [9]:
Load2016["Hour_End"] = pd.to_datetime(Load2016["Hour_End"])

In [10]:
Load2017["Hour Ending"] = pd.to_datetime(Load2017["Hour Ending"])

/Users/rishireddy/opt/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname DST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [11]:
Load2018["HourEnding"] = pd.to_datetime(Load2018["HourEnding"])

In [12]:
Load2019["HourEnding"] = pd.to_datetime(Load2019["HourEnding"])

In [13]:
Load2020["HourEnding"] = pd.to_datetime(Load2020["HourEnding"])

In [14]:
Load2021["DateTime"] = pd.to_datetime(Load2021["DateTime"])

In [15]:
Load2017.tail()

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
8755,2017-12-31 20:00:00,12015.663549,1910.720587,2989.824568,1202.222117,20633.414345,3771.864865,9626.306799,1813.399697,53963.416528
8756,2017-12-31 21:00:00,11883.114122,1907.585299,2970.854839,1191.309197,20174.983131,3719.315447,9519.748453,1795.416337,53162.326825
8757,2017-12-31 22:00:00,11754.250889,1890.359350,2942.227121,1178.171245,19726.459865,3690.567365,9402.193277,1767.742081,52351.971192
8758,2017-12-31 23:00:00,11579.853459,1855.937814,2898.567893,1157.488537,19211.158684,3689.751261,9260.416988,1735.764393,51388.939028
8759,2017-12-31 00:00:00,11452.163689,1834.871741,2856.941683,1145.645045,18944.980941,3726.039934,9172.714892,1701.543039,50834.900964

In [16]:
Load2016['Date'] = [d.date() for d in Load2016['Hour_End']]
Load2016['Time'] = [d.time() for d in Load2016['Hour_End']]

Load2017['Date'] = [d.date() for d in Load2017['Hour Ending']]
Load2017['Time'] = [d.time() for d in Load2017['Hour Ending']]

Load2018['Date'] = [d.date() for d in Load2018['HourEnding']]
Load2018['Time'] = [d.time() for d in Load2018['HourEnding']]

Load2019['Date'] = [d.date() for d in Load2019['HourEnding']]
Load2019['Time'] = [d.time() for d in Load2019['HourEnding']]

Load2020['Date'] = [d.date() for d in Load2020['HourEnding']]
Load2020['Time'] = [d.time() for d in Load2020['HourEnding']]

Load2021['Date'] = [d.date() for d in Load2021['DateTime']]
Load2021['Time'] = [d.time() for d in Load2021['DateTime']]

In [17]:
Load2021.tail()

,DateTime,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT,Date,Time
8755,2021-12-31 20:00:00,13926.775034,1566.583851,4192.977787,916.124441,11942.416165,3910.031058,7401.098687,1133.093917,44989.100940,2021-12-31,20:00:00
8756,2021-12-31 21:00:00,13498.908542,1549.687559,4149.062209,886.943872,11406.911057,3681.222926,7088.478765,1102.727285,43363.942215,2021-12-31,21:00:00
8757,2021-12-31 22:00:00,13116.012129,1515.852644,4148.330779,859.408149,10978.547227,3515.077507,6800.707246,1071.686005,42005.621687,2021-12-31,22:00:00
8758,2021-12-31 23:00:00,12754.392799,1457.080439,4161.355505,831.148872,10578.729201,3368.125857,6497.990404,1049.414195,40698.237272,2021-12-31,23:00:00
8759,2021-12-31 00:00:00,12386.413060,1415.239264,4119.738722,807.084492,10140.379573,3234.113244,6151.440423,1016.183096,39270.591873,2021-12-31,00:00:00

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [18]:
Daily_Total2016 = Load2016.groupby(by="Date").sum()
Daily_Total2017 = Load2017.groupby(by="Date").sum()
Daily_Total2018 = Load2018.groupby(by="Date").sum()
Daily_Total2019 = Load2019.groupby(by="Date").sum()
Daily_Total2020 = Load2020.groupby(by="Date").sum()
Daily_Total2021 = Load2021.groupby(by="Date").sum()

In [19]:
Daily_Total2021.tail()

,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
Date,,,,,,,,,
2021-12-27,290928.220606,33662.771551,97983.184738,20139.305925,267990.281280,75913.708187,147121.513381,25011.786435,958750.772102
2021-12-28,301443.131078,33223.339904,98687.827991,20562.058555,270601.574449,78797.977568,147576.372826,24755.210457,975647.492832
2021-12-29,308841.607157,33147.073767,99515.342379,20675.027737,258694.513613,79093.215631,150031.309800,24909.971862,974908.061948
2021-12-30,301712.658641,32563.850604,99575.108567,21418.211549,255314.513577,77719.306984,148076.638029,25993.628577,962373.916524
2021-12-31,304614.058320,34318.369620,99259.643831,20430.292219,253498.845179,81122.885875,150226.530049,25159.159504,968629.784601

In [20]:
#Power_Load = pd.concat([Daily_Total2016, Daily_Total2017, Daily_Total2018, Daily_Total2019, Daily_Total2020, Daily_Total2021], ignore_index=True)
Power_Load = pd.concat([Daily_Total2016, Daily_Total2017, Daily_Total2018, Daily_Total2019, Daily_Total2020, Daily_Total2021])

In [21]:
Power_Load.tail()

,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
Date,,,,,,,,,
2021-12-27,290928.220606,33662.771551,97983.184738,20139.305925,267990.281280,75913.708187,147121.513381,25011.786435,958750.772102
2021-12-28,301443.131078,33223.339904,98687.827991,20562.058555,270601.574449,78797.977568,147576.372826,24755.210457,975647.492832
2021-12-29,308841.607157,33147.073767,99515.342379,20675.027737,258694.513613,79093.215631,150031.309800,24909.971862,974908.061948
2021-12-30,301712.658641,32563.850604,99575.108567,21418.211549,255314.513577,77719.306984,148076.638029,25993.628577,962373.916524
2021-12-31,304614.058320,34318.369620,99259.643831,20430.292219,253498.845179,81122.885875,150226.530049,25159.159504,968629.784601

In [94]:
Power_Load.to_excel("/Users/rishireddy/Desktop/BFOR 516/FuelMix Output/CombinedPowerLoad.xlsx")

In [22]:
Power_Load.to_excel("/Users/rishireddy/Desktop/BFOR 516/Datasets for ML Model/ALL Power Load.xlsx")